body {
    background-color: #202020;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 3em;
    margin: 0;
}
p {
    font-size: 1.5em;
}
#gameBoard {
    width: 80%;
    max-width: 300px;
    height: 60vh;
    max-height: 600px;
    border: 1px solid white;
}
#score {
    font-size: 24px;
}
#startButton {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 20px;
}